nav a {
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: 100% !important;
	background-clip: border-box;
	@apply no-repeat flex;
}

nav a > div {
	@apply flex flex-wrap items-center gap-0 p-4 bg-dark-300 bg-opacity-50 backdrop-blur-none hover-backdrop-blur-sm transition;
}

nav a h4 {
	@apply text-sm;
	flex: 1 1 100%;
}
